.VBM h1{
    text-align: center;
    background-color:green;
    color: #ffffff
}
.VBM {
    text-align: center;
}

.VBM h2{
    text-align: center;
    background-color: black;
    color: #ffffff;
    
    bottom: 0px;
    width: 100%;
    
}
.VBM p{
    width: 700px;
    text-align: center;
    margin: auto
}