<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container-main bg-info row">
    <img src="http://www.vbmespresso.com/img/vbm-logo-large.png" alt="image1" class="col-md-2"/>
    <h1 class="col-md-7 mx-auto">VBM Info Tech</h1>
    <a class="col-md-2 mt-3 text-warning" href="../logout/logout.component.html">Logout</a>
</div>